<%- include('header') %>
<div class="bread">
    <ul class="breadcrumbs">
         <li class="breadcrumbs--item">
             <a href="index.html" class="breadcrumbs--link breadcrumbs" style="display:inline;text-decoration:none">HOME</a>
         </li> 
         <li class="breadcrumbs--item">
             <a href="#" class="breadcrumbs--link breadcrumbs--link--active">HOME</a>
         <!-- </li> <li class="breadcrumbs--item">
             <a href="#" class="breadcrumbs--link">QUOTES</a>
         </li> -->
        </ul>      
     <hr class="hr">
  </div>
</div>

<div class="content-bar" style="top:68px;">
<ul>
    <a href="/">
        <li class="active1">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="item">HOME</span>
        </li>
    </a>
    <a href="/accounts">
        <li>
            <span class="icon"><i class="fa-solid fa-book-open"></i></span>
            <span class="item">ACCOUNTS</span>
        </li>
    </a>
    <a href="Quotes.html">
        <li>
            <span class="icon"><i class="fa fa-dollar"></i></span>
            <span class="item">QUOTES</span>
        </li>
    </a>
    <a href="Demand.html">
        <li>
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="item">DEMAND</span>
        </li>
    </a>
    <a href="Forecast.html">
        <li>
            <span class="icon"><i class="fa fa-line-chart"></i></span>
            <span class="item">FORECAST</span>
        </li>
    </a>
    <a href="<%= base_url %>catalog">
        <li>
            <span class="icon"><i class="fa fa-eye"></i></span>
            <span class="item">CATALOG</span>
        </li>
    </a>
    <a href="<%= base_url %>Admin">
        <li>
            <span class="icon"><i class="fa fa-cog"></i></span>
            <span class="item">ADMIN</span>
        </li>
    </a>
</ul>
</div>

<div class="containerhome">
    <div class="main-contenthome">
        <div id="grid">
            <div class="red">
                <div class="btn">
                    <a href="#"><button class="bt active" style="margin-left: 30px;">MY RECENT
                            QUOTES</button></a><a href="#"><button class="bt">ALL RECENT</button></a>
                </div>
                <div class="textData">
                    <textarea name="recent" id="box-1" cols="30" rows="10" ></textarea>
                </div>

            </div>
            <div class="green">
                <div class="btn">
                    <a href="#"><button class="btn2" style="width: 50px;margin-left: 140px;">ALERTS</button></a>
                </div>
                <div class="textData">
                    <textarea name="recent" id="box-2" cols="30" rows="10" ></textarea>
                </div>
            </div>
            <div class="blue">
                <div class="btn">
                    <a href="#"><button class="bts activ" style="margin-left: 20px;">REQUEST MY
                            APPROVAL</button></a><a href="#"><button class="bts">MY SUBMISSIONS</button></a>
                </div>
                <div class="textData">
                    <textarea name="recent" id="box-3" cols="30" rows="10" ></textarea>
                </div>
            </div>
            <div class="gray">
                <div class="btn">
                    <a href="#"><button class="btn2">MY RECENT OPPORTUNITIES</button></a>
                </div>
                <div class="textData">
                    <textarea name="recent" id="box-4" cols="30" rows="10" ></textarea>
                </div>
            </div>
        </div>

        <button class="sidebarhome-toggle">
            < </button>
    </div>
    <div class="sidebarhome">
        <h2>Sidebar Content</h2>

    </div>
</div>
    
<%- include('footer') %>






