#main-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 175px;
}

.section {
  width: 100%;
}

.sectionDiv {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 10fr 0.5fr 0.5fr 0.75fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  color: #216c98;
  height: 60px;
  border: 1px solid #ccc;
}

#sectionIcon {
  color: #216c98;
  font-size: 20px;
  position: relative;
  right: -10px;
  cursor: pointer;
  /* padding-top: 18px; */
  /* height: 100%;
     width: 100%; */
}

#section-number {
  padding-left: 10px;
  cursor: pointer;
  /* height: 100%;
     width: 100%; */
  /* position: relative; */
  /* padding-top: 18px; */
}

#inputField {
  height: 100%;
  width: 100%;
  font-size: medium;
  font-weight: lighter;
  font-size: 15px;
  outline: none;
  border: none;
  border-left: 3px solid #216c98;
  padding-left: 9px;
}

.question {
  display: grid;
  grid-template-columns: 0.5fr 5fr 1fr 1fr 4fr 0.5fr 1.1fr 0.35fr 0.35fr;
  align-items: center;
  color: #216c98;
  height: 50px;
  border: 1px solid #ccc;
}

.question {
  font-weight: bold;
}

.question input[type="text"] {
  height: 48px;
  width: 100%;
  font-size: medium;
  font-weight: lighter;
  font-size: 15px;
  outline: none;
  border: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.question button.icon-btn {
  font-size: 16px;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
}


.question input[type="text"]::placeholder {
  color: #aaa;
}

#questionlabel {
  height: 100%;
  text-align: center;
  border-left: 1px solid #ccc;

}

.question label input[type="checkbox"] {
  margin-left: 6px;
  margin-right: 5px;
  margin-top: 6px;
}

.deletesection {
  font-size: 22px;
  color: #ff0000;
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
}

.subSection {
  text-align: center;
}

.infoicon-btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: white;
  width: 100%;
  height: 100%;
  color: #216c98;
}

.copyicon-btn {
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: white;
  margin-left: 18px;
  color: #216c98;
}

.copyicon-btn i:hover {
  color: #0cf604a7;
}

.delete-btn {
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: white;
  margin-left: 20px;
  color: red;
  height: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#question {
  width: 100px;
  height: 30px;
  background: none;
  border-right: none;
  border: 1px solid gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 40%;
  margin-bottom: 10px;
}

#rule {
  width: 100px;
  height: 30px;
  background: none;
  border: 1px solid gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.addQuestion {
  background: none;
  border: none;
  font-size: 11px;
  color: #216c98;
  padding-left: 50px;
  position: relative;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.addRule {
  background: none;
  border: none;
  font-size: 11px;
  color: #216c98;
  padding-left: 50px;
  position: relative;
  margin-top: 15px;
  display: none;
  font-weight: bold;
}

#questionSelect {
  height: 48px;
  border: 1px solid #ccc;
  outline: none;
  border-top: none;
  border-bottom: none;
  background-color: white;
  border-radius: 0px;
  text-transform: uppercase;
}

.add-question-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
}

.add-question-section input[type="text"],
.add-question-section input[type="checkbox"],
.add-question-section button {
  font-size: 16px;
  padding: 6px 8px;
  border: none;
  border-radius: 4px;
}

.add-question-section input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.add-question-section input[type="text"]::placeholder {
  color: #aaa;
}

.add-question-section label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.add-question-section label input[type="checkbox"] {
  margin-right: 5px;
}

.add-question-section button.add-btn {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.add-question-section button.add-btn:hover {
  background-color: #3e8e41;
}

#add-section-btn {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 45%;
  border: none;
  background-color: white;
  color: #216c98;
  font-weight: bold;
  margin-top: 7px;
}

.highlight {
  background-color: #f00202;
  color: white;
  height: 40px;
  margin-left: 9px;
  margin-right: 24px;
  padding: 7px;
  height: 100%;
  width: 87%;
}

#checkboxquestion {
  margin-top: 5px;
}

#hidecheckbox {
  margin-left: 18px;
  width: 15px;
}

#required {
  font-size: 13px;
}

#hlabel {
  padding-left: 14px;
  font-size: 12px;
  font-weight: bold;
}


/* QUESTION HIGHLIGHT */
#qDel {
  width: 100%;
  height: 100%;
  padding-top: 13px;
}

.highlighted {
  background-color: #f00202;
  color: white;
  width: 80%;
  height: 100%;
}

.arrow-down::after {
  content: "\f078";
  font-size: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 5px;
}

.question-number.show-arrow-down::after {
  transform: rotate(180deg);
}

.arrow-down.show-arrow-up::after {
  content: "\f077";
  transform: rotate(180deg);
  font-size: 10px;

}

#custom {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 5fr 0.4fr 0.4fr 0.4fr 0.4fr;
  border: 1px solid #ccc;
  height: 50px;
}

#checkbox1 {
  margin-top: 7px;
  margin-left: 10px;
  width: 15px;
}

#spancheck1 {
  color: #216c98;
  font-size: 11px;
  font-weight: bold;
}

#customp {
  margin-left: 54%;
  font-size: 14px;
  padding-top: 15px;
  font-weight: 600;
  color: rgb(67, 67, 67);
}

.instruction-container {
  display: grid;
  grid-template-columns: 0.5fr 5fr;
  border: 1px solid #ccc;
  position: relative;
  margin-bottom: 10px;
  height: 30px;
  color: rgb(67, 67, 67);
}

.instruction {
  margin-left: 40%;
  height: 30px;
  font-size: 14px;
  padding-top: 5px;
  font-weight: 600;
}

#text-container {
  top: 5px;
}

#textbox {
  outline-color: #216c98;
  border-radius: 0px;
}

.arrow-up {
  font-size: 18px;
  color: #216c98;
  padding-left: 8px;
}

.hidden {
  display: none;
}

#addcustom-container {
  cursor: pointer;
  border: none;
  background-color: white;
  color: #216c98;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 95px;
  margin-left: 45%;
}

.customsection-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 5fr 0.5fr 0.5fr 0.3fr;
  height: 40px;
  border: 1px solid #ccc;
}

#upArrowIcon {
  text-align: center;
  color: #216c98;
  padding-top: 10px;
  font-size: 18px;
}

#customsectionnumber {
  margin-top: 10px;
  text-align: end;
  color: #216c98;
  font-weight: bold;
}

#custominput {
  border: none;
  outline: none;
  margin-left: 12px;
}

#checkcustom {
  border-left: 1px solid #ccc;
  padding-left: 5px;
}

#customcheckbox {
  margin-left: 15px;
  margin-top: 3px;
}

#optionlabel {
  color: #216c98;
  font-size: 11px;
  font-weight: bold;
}

.icon-container {
  padding-top: 10px;
  text-align: center;
  color: #216c98;
  border-left: 1px solid #ccc;
}

.icon-container i:hover {
  color: #0cf604a7;
  font-size: 18px;
}

.icondelete-container {
  text-align: center;
  font-size: 18px;
  color: red;
  border-left: 1px solid #ccc;
  height: 100%;
  width: 100%;
}

.highlightcustom {
  background-color: #f00202;
  color: white;
  width: 100%;
  height: 100%;
}

#cDel {
  width: 100%;
  height: 100%;
  padding-top: 9px;
}

/* .subsection-container{
  display:grid;
  grid-template-columns: 11fr 1fr;
} */

.row-container {
  display: grid;
  grid-template-columns: 0.1fr 0.7fr 0.1fr 0.2fr 0.5fr 0.05fr;
  height: 40px;
  border: 1px solid #ccc;
  width: 100%;
  position: relative;
}

#addrow {
  cursor: pointer;
  border: none;
  background-color: white;
  color: #216c98;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 10px;
  width: 95px;
}

.row-number {
  margin-top: 10px;
  text-align: end;
  color: #216c98;
  font-weight: bold;
}

#subsectionInput {
  border: none;
  outline: none;
  margin-left: 12px;
}

#subquestionContainer {
  background-color: white;
  border: none;
  text-transform: uppercase;
  outline: none;
  height: 100%;
}

#subSectioncheckBox {
  margin-top: 10px;
}

#subsectionlabel {
  margin-top: 10px;
  color: #216c98;
  font-size: 12px;
  font-weight: bold;
}

#subInfoIcon {
  margin-top: 10px;
  color: #216c98;
  font-size: 15px;
  margin-right: 45px;
  margin-bottom: 10px;
}

#subDeleteIcon {
  color: #f94949;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  height: 100%;
  width: 100%;
  /* border-left: 1px solid #ccc; */
}

.highlightcustomsub {
  background-color: #f20808;
  color: whitesmoke;
  width: 100%;
  height: 100%;

}

.info-section {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  padding-bottom: 5px;
}

#maininfoicon {
  display: none;
}

#firstInput {
  height: 50px;
  outline-color: #216c98;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}

#secondinput {
  height: 50px;
  outline-color: #216c98;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}

#notelabel {
  top: 14px;
  margin-left: -250px;
  color: #216c98;
  font-size: small;
  font-weight: bold;
  font-size: 11px;
  position: relative;
}

#lastInput {
  height: 50px;
  outline-color: #216c98;
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}

#externallabel {
  top: 14px;
  margin-left: -200px;
  color: #216c98;
  font-size: small;
  font-weight: bold;
  font-size: 11px;
  position: relative;
}

#secondinput {
  height: 50px;
  outline-color: #216c98;
  width: 100%;
  text-align: center;
}

#catlabel {
  top: 14px;
  margin-left: -170px;
  color: #216c98;
  font-size: small;
  font-weight: bold;
  font-size: 11px;
  position: relative;
}

#infoinput1 {
  height: 50px;
  outline-color: #216c98;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
}

#infoinput2 {
  height: 50px;
  outline-color: #216c98;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;

}

#infoinput3 {
  height: 50px;
  outline-color: #216c98;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
}

#infoinput4 {
  height: 50px;
  outline-color: #216c98;
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
 background-color: white;
 border-radius: 0;
}

#infonote,
#infocategory {
  color: #216c98;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  top: -18px;
  margin-left: 95px;
}

#infoid {
  color: #216c98;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  top: -18px;
  margin-left: 45px;
}

#down-arrow {
  display: none;
}

.information-section {
  width: 100%;
}




/* whole rule div */
#rule {
  height: 30px;
}

.rule-content {
  border: 1px solid #ccc;
  height: 42px;
  display: flex;
  flex-direction: column;

}

/* rule div */
#startrule {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 2fr 1fr 1fr 0.5fr 0.5fr;
  margin: 14px;
  height: 27px;
}

.rule-content:hover {
  background-color: rgba(240, 248, 255, 0.938);
}


/* angleup btn of rule 1.1...... */
.angleupbtn {
  width: 65px;
  border: none;
  background: none;
  left: 20px;
  top: -9px;
  position: relative;
  padding: 5px;
  cursor: pointer;

}

/* Rules column  */
.rule-name {
  width: 154px;
  position: relative;
  left: 6px;
  top: -1px;
  font-size: 12px;
  font-weight: bold;
}


/* rule  input text */
input.rule-input {
  border: none;
  border-bottom: 1px solid #216c98;
  left: -78px;
  top: -7px;
  width: 268px;
  height: 26px;
  position: relative;
  outline-color: white;
  cursor: pointer;
}

/* ============================================MOVEUP BUTTON========================================================= */
.moveupbtn123 {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  top: -6px;
  left: -80px;
  color: #216c98;
  font-size: 10px;
  font-weight: bold;
}

.show-move-up .moveupbtn123 {
  opacity: 1;
}

.button.moveupbtn123 :hover {
  color: #216c98;
}

/* ========================================================================================================== */

/* Move down button=====================================================================================  */
.angledownbtn {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: -17px;
  color: #216c98;
  font-size: 10px;
  font-weight: bold;
  top: 2px;
  left: -152px;
  position: relative;
}

.show-move-down .angledownbtn {
  opacity: 1;
}

/* ================================================================================================ */


.button.angledownbtn :hover {
  color: #216c98;
}

.copy-rule-btn {
  font-size: 18px;
  border: none;
  background: none;
  position: relative;
  color: #216c98;
  width: 200%;
  height: 100%;
  left: -16px;
  margin-top: -7px;
  cursor: pointer;

}

.delete-rule-btn {
  background-color: red;
  font-size: 22px;
  border: none;
  background: none;
  position: relative;
  left: 49px;
  color: #ff0000;
  width: 100%;
  height: 100%;
  left: 2px;
  margin-top: -7px;
  cursor: pointer;
}

.highlight-red {
  background-color: #f00202;
  color: white;
  margin-left: -24px;
  padding: 7px;
  height: 41px;
  width: 65px;
  top: -7px;

}


/* condition select */

.conditions {
  top: 0px;
  display: grid;
  position: relative;
  border-right: 1px solid #ccc;
  height: 42px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  grid-template-columns: 0.6fr 0.8fr 2fr;
}


.conditionbtn {
  width: 100%;
  border: none;
  background: none;
  top: 0px;
  left: 55px;
  position: relative;
  cursor: pointer;

}

.conditionname {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  left: 12px;
  width: 100%;
  top: 4px;
  padding: 10px;
}

.conditioninput {
  border: none;
  left: 17px;
  top: 9px;
  width: 100%;
  height: 26px;
  position: relative;
  outline: none;
}


#options {
  padding: 10px;
  top: 0px;
  height: 51px;
  position: relative;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid rgb(218, 217, 217);
}


.selectOptionbtn {
  /* border-bottom: 0.1px solid rgb(218, 217, 217); */
  /* border-radius: 1px; */
  height: 59px;
  font-size: 15px;
  font-weight: lighter;
  font-size: 12px;
  outline-color: #216c98;
  width: 339px;
  background-color: white;
  border: none;
  padding: 20px;
}

#conditionlabel {
  top: 14px;
  margin-left: -330px;
  color: #216c98;
  font-size: small;
  font-weight: bold;
  font-size: 12px;
  position: relative;
}




/* ============================================================================================== */


.droppbtn {
  width: 290px;
  height: 73px;
  border-bottom: 1px solid #ccc;
}

.selectedOptionn {
  display: flex;
  width: 347px;
  /* top: -73px; */
  top: -24px;
  left: 4px;
  width: 142px;
  padding-left: 5px;
  position: relative;
  border: none;
  outline: none;
}

.word {
  top: -30px;
  left: -64px;
  padding: 2px;
  ;
  position: relative;
  color: #0f6b93;
  font-size: 15px;
  font-weight: bold;
}

.dropdown-contentt {
  /* display: none; */
  position: relative;
  /* background-color: #f1f1f1; */
  width: 289px;
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: -16px;
  padding: 10px;
  height: 125px;
  right: 0px;
}

.list {
  list-style: none;
}

.listinput {
  border: none;
  position: relative;
  top: -57px;
  width: 66px;
  left: 10px;
  padding: 2px;
  font-size: 15px;
  outline: none;
}

.when {
  padding: 8px;
  cursor: pointer;
}

.dropdown-contentt li:hover {
  background-color: #045679;

}

.always {
  padding: 8px;
}

.complex {
  padding: 8px;
}


/* =========================================================================== */

.whengrid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  height: 100%;
}

.when-fields {

  position: relative;
  width: 68%;
  height: 73px;
  top: -95px;
  margin-right: 20px;
  left: 289px;
}

#questvalue {
  width: 100%;
  top: 2px;
  position: relative;
  height: 98%;
  outline-color: #045679;
  font-size: 14px;
  padding: 8px;
  border-top: none;
  border-bottom: 1px solid #ccc;
  border-left: 2px solid #216c98;
  border-right: 2px solid #216c98;
}

/* label of list */
#questval {

  color: #216c98;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  width: 77%;
  top: 52px;
  left: -196px;
  height: 20px;
}

/* question */
#questval1 {
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  top: -22px;
  left: 12px;


}



ul.whenlist {
  position: relative;
  list-style: none;
  top: -1px;
  left: 1px;
  width: 202px;
  height: 76px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  z-index: 1;
}

.whenlist li:hover {
  background-color: #045679;
  color: white;
}


#questvalue::placeholder {
  font-style: italic;
  /* padding:5px; */
  font-size: 18px;
  color: #ccc;
}

li#item1 {
  padding: 4px;
}


/* ---------------when field 2 operator ---------------------- */



#operator {
  top: 2px;
  left: 0px;
  position: relative;
  width: 100%;
  height: 98%;
  outline-color: #045679;
  border-top: none;
  border-left: 1px solid #216c98;
  border-right: 2px solid #216c98;
  border-bottom: 1px solid #ccc;
  padding: 8px;
}


#oper1 {
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  width: 40%;
  height: 38%;
  top: -20px;
  left: 15px;
}

ul.operatorlist {
  position: relative;
  list-style: none;
  left: 202px;
  width: 208px;
  height: 179px;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow-y: scroll;
  background-color: white;
  z-index: 1;
}

#operator::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 18px;
  color: #ccc
    /* top:50px; */
    /* position: relative; */
}

li#item2 {
  padding: 4px;
  font-size: 12px;
}

.operatorlist li:hover {

  background-color: #045679;
  color: white;
}



/* -----------------when field value------------------------ */



#value {
  width: 100%;
  height: 98%;
  top: 2px;
  position: relative;
  outline-color: #045679;
  padding: 10px;
  font-size: 16px;
  border-top: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #216c98;
  border-right: 2px solid #216c98;
}

#val {
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  width: 1px;
  outline-color: #216c98;
  top: 53px;
  left: -318px;
}


#value::placeholder {
  font-style: italic;
  /* padding:5px; */
  font-size: 20px;
  color: #ccc;
}

#compquestvalue::placeholder {
  font-style: italic;
  font-size: 18px;
}

#value:hover #whenpencilicon {
  display: block;
}


#whenpencilicon {
  position: relative;
  top: -48px;
  left: 173px;
  color: lightslategray;
  display: none;
  font-size: 13px;
  /* Add any other styles you need */
}


/* when fild end */




/* complex field start */
.complexgrid{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  height: 100%;
  width: 608px;
}
.complex-fields {

  position: relative;
  width: 68%;
  height: 73px;
  top: -95px;
  margin-right: 20px;
  left: 289px;
}

.complex-field1 {
  height: 73px;
}

#compquestvalue {
  width: 217px;
  height: 73px;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
}

 .complexlist {

  position: relative;
  list-style: none;
  top: -156px;
  font-size: 12px;
  padding: 10px;
  width: 217px;
  height: 86px;
  border: 1px solid #ccc;
  cursor: pointer;
} 
label#compquestlabel {
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  width: 195px;
  top: -23px;
  left: 21px;
}
#compquestvalue::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 18px;
  color: #ccc
}



#compitem1 {
  padding: 4px;
}

.complexlist li:hover {
  background-color: #045679;
}

/* complex operator */
.complex-field2 {
  height: 73px;
}
#compoperator{
  width: 217px;
  height: 73px;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  height:73px;

}


.compoperatorlist {
  position: relative;
  list-style: none;
  top: -155px;
  font-size: 12px;
  left: 216px;
  width: 217px;
  height: 206px;
  border: 1px solid #ccc;
  cursor: pointer;
  overflow-y: scroll;
  background-color: white;
  z-index: 2;

}

.compoperatorlist li:hover {
  background-color: #045679;
}


#compitem2 {
  padding: 5px;

}

#compoperator {

  width: 217px;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #216c98;

}

#compoper {
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  width: 0px;
  top: -23px;
  left: 21px;

}

#compoperator::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 18px;
  color: #ccc
}

/* complex value */
.complex-field3 {
  height: 73px;
}

input#compvalue {
  outline-color: #216c98;
  width: 176px;
  height: 73px;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  height:73px;

}

#compval {
  color: #216c98;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  width: 0px;
  top: -23px;
  left: 13px;

  
}

#comppencilicon {

  top: -60px;
  left: 147px;
  color: lightslategray;
  font-size: 13px;
  position: relative;
  display: none;
}


.complex-field3:hover #comppencilicon {
  display: block;

}

/* actions */
.actionscontainer {
  position: relative;
  width: 100%;
  padding-left: 62px;

}



.actiondown {
  height: 76px;
}

.actionhead {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 1fr;
  padding: 0px;
  height: 42px;
  border: 1px solid #ccc;
}

.actionhead:hover {
  background-color: rgba(240, 248, 255, 0.938);
}


.actionlist li:hover {
  background-color: #045679;
  color: white;
}

.addactionbtn {
  background: none;
  border: none;
  font-size: 11px;
  color: #216c98;
  padding-left: 50px;
  position: relative;
  margin-top: 15px;
  /* display: none;   */
  font-weight: bold;

}


.actionupbtn {
  width: 65px;
  border: none;
  background: none;
  left: 20px;
  top: -1px;
  position: relative;
  padding: 5px;
  cursor: pointer;

}

.actionname {
  width: 154px;
  position: relative;
  left: 6px;
  top: 12px;
  font-size: 12px;
  font-weight: bold;


}

.actiontext {
  border: none;
  border-bottom: 1px solid #216c98;
  left: -59px;
  top: 4px;
  padding: 15px;
  width: 268px;
  height: 26px;
  position: relative;
  outline-color: white;
  cursor: pointer;
}


.action {
  padding: 8px;
}

.actioninput {
  width: 290px;
  height: 73px;
  border: none;
  outline-color: #0f6b93;
  font-weight: bold;
  padding: 6px;
  border: 1px solid #ccc;
  font-size: 13px;


}

.actionlist {
  position: relative;
  list-style: none;
  padding: 10px;
  width: 290px;
  height: 149px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 15px;
  overflow-y: scroll;
  background: white;
  z-index: 1
}




label#actionlabel {
  top: 22px;
  left: -287px;
  padding: 2px;
  position: relative;
  color: #0f6b93;
  font-size: 14px;
  font-weight: bold;
}




li.item4 {
  padding: 7px;
}

.actionlist li:hover {
  background-color: #045679;
  color: white;
}

#trashalt {
  height: 50px
}

/* ACTIONS dROP DOWN  */
.actioninput2 {
  position: relative;
  top: -74px;
  left: 290px;
  height: 73px;
  width: 50%;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  outline-color: #045679;
}

.deleteinputbtn {
  width: 50px;
  left: 86%;
  top: -130px;
  height: 50px;
  background: none;
  color: red;
  cursor: pointer;
  position: relative;
  border: none;
}




/* show section */
.actioninput3 {
  position: relative;
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  top: -73px;
  height: 73px;
  left: 290px;
  width: 50%;
  border: 1px solid #ccc;
  outline-color: #045679;
}

.deleteinputbtn2 {
  top: -151px;
  left: 719px;
  /* border:none; */
  background: none;
  color: red;
  height: 50px;
  width: 50px;
  /* margin-top: -7px; */
  cursor: pointer;
  position: relative;
  border: none;
}



label.sectionlabel {
  left: 295px;
  top: -98px;
  position: relative;
  color: #045679;
  font-weight: bold;
  font-size: 14px;
}

.sectioninput {
  position: relative;
  height: 1px;
}

.sectionlist {
  position: relative;
  top: -158px;
  list-style: none;
  padding: 10px;
  width: 576px;
  height: 152px;
  left: 290px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 15px;
  overflow-y: scroll;
  z-index: 1;
}

.sectionlist li:hover {
  background-color: #045679;
  color: white;

}

.showsectionlist {
  padding: 8px
}



.toggle-btn0 {

  background-color: transparent;
  border: none;
  display:none;
  font-size: 15px;
  color: #216c98;
  cursor: pointer;
  position: relative;
  top: -43px;
  left: -256px;
}


.showsectiontoggle {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #216c98;
  cursor: pointer;
  position: relative;
  top: -183px;
  left: 663px;

}

.showquestiontoggle {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #216c98;
  cursor: pointer;
  position: relative;
  top: -183px;
  left: 662px;

}

.showhidetoggle {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #216c98;
  cursor: pointer;
  position: relative;
  top: -183px;
  left: 662px;

}

.showhideqstntoggle {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #216c98;
  cursor: pointer;
  position: relative;
  top: -183px;
  left: 662px;


}

/* show question */

.actioninput4 {
  position: relative;
  padding: 21px;
  font-size: 15px;
  font-weight: bold;
  top: -73px;
  height: 73px;
  left: 290px;
  width: 50%;
  border: 1px solid #ccc;
  outline-color: #045679;
}

.deleteinputbtn3 {
  top: -150px;
  left: 724px;
  /* border:none; */
  background: none;
  color: red;
  height: 50px;
  width: 50px;
  /* margin-top: -7px; */
  cursor: pointer;
  position: relative;
  border: none;
}

label.questionlabel {
  left: 308px;
  top: -98px;
  position: relative;
  color: #045679;
  font-weight: bold;
  font-size: 15px;
}

.questioninput {
  position: relative;
  height: 1px;
}


.questionlist {
  position: relative;
  top: -159px;
  list-style: none;
  padding: 10px;
  width: 576px;
  height: 152px;
  left: 290px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 15px;
  background: white;
  overflow-y: scroll;
  z-index: 1;

}

.questionlist li:hover {
  background-color: #045679;
  color: white;
}

.showquestionlist {
  padding: 8px
}


/* hide section */

.actioninput5 {
  position: relative;
  padding: 21px;
  font-size: 15px;
  font-weight: bold;
  top: -73px;
  height: 73px;
  left: 290px;
  width: 50%;
  border: 1px solid #ccc;
  outline-color: #045679;
}

.deleteinputbtn4 {
  top: -150px;
  left: 724px;
  border: none;
  background: none;
  color: red;
  height: 50px;
  width: 50px;
  /* margin-top: -7px; */
  cursor: pointer;
  position: relative;
}


.hidesectionlist {
  position: relative;
  top: -158px;
  list-style: none;
  padding: 10px;
  width: 576px;
  height: 152px;
  left: 290px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 15px;
  background: white;
  overflow-y: scroll;
  width: 576px;
  top: -158px;
  z-index: 1;

}


.hidesectionlist li:hover {
  background-color: #045679;
  color: white;

}

.hidesectionitems {
  padding: 8px;
}

.hidesectionlabel {
  left: 308px;
  top: -98px;
  position: relative;
  color: #045679;
  font-weight: bold;
  font-size: 15px;
}

.hidesectioninput {
  position: relative;
  height: 1px;

}

/* hide question */
.actioninput6 {
  position: relative;
  padding: 21px;
  font-size: 15px;
  font-weight: bold;
  top: -73px;
  height: 73px;
  left: 290px;
  width: 50%;
  border: 1px solid #ccc;
  outline-color: #045679;
}

.deleteinputbtn5 {
  top: -150px;
  left: 724px;
  border: none;
  background: none;
  color: red;
  height: 50px;
  width: 50px;
  /* margin-top: -7px; */
  cursor: pointer;
  position: relative;
}

.hidequestionlist {
  position: relative;
  list-style: none;
  padding: 10px;
  height: 152px;
  left: 290px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 15px;
  overflow-y: scroll;
  top: -159px;
  width: 576px;
  background: white;
  z-index: 1;

}

.hidequestionitems {
  padding: 8px
}

.hidequestioninput {
  position: relative;
  height: 1px;

}

.hidequestionlist li:hover {
  background-color: #045679;
  color: white;
}

.hidequestionlabel {
  left: 308px;
  top: -98px;
  position: relative;
  color: #045679;
  font-weight: bold;
  font-size: 15px;

}

.whentoggle {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #216c98;
  cursor: pointer;
  position: relative;
  top: -183px;
  left: 784px;
}


/* ADD EXPRESSION CSS */



#addExpression {

  vertical-align: middle;
  padding: 8px;
  font-weight: bold;
  border-radius: 20px;
  border-color: #216c98;
  background: white;
  margin: 12px;

  margin-left: 268px;
  color: #216c98;


}

.expressiongroup {
  display: flex;
  top: 4px;
  position: relative;
  left: 46px;
  height: 73px;
  border-right: 3px solid #216c98;

}

.expressiongroup input[type="text"] {
  outline-color: rgb(33, 108, 152);
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
}

#sh-input {
  margin-left: -637px;
  left: 319px;
  display: inline-block;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  top: 37px;
  margin-right: 54px;
  width: 280px;

  height: 74px;
}

#sh-input::placeholder {

  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}




#ra-input {

  width: 348px;
  border-left: 5px solid #216c98;
  border-right: 5px solid #216c98;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  border: 1px solid #ccc;

}

#ra-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

#va-input {
  left: -103px;
  height: 74px;
  width: 244px;
  font-size: 14px;
  padding: 8px;
  position: relative;
  border: 1px solid #ccc;
  outline-color: #0456
}

#va-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

#va-labelEXP {
  position: relative;
  left: -364px;
  top: 17px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;

  transform: translateY(-50%);
}


#na {
  left: -160px;
  width: 352px;
  border-left: 5px solid #216c98;
  font-size: 14px;
  padding: 8px;
  position: relative;
  border: 1px solid #ccc;
  outline-color: #045679;

}

#na::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

#na-labelEXP {
  position: relative;
  left: -469px;
  top: 88px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);
}

.deleteEXP {

  position: relative;
  left: -258px;
  width: 56px;

  font-size: 22px;
  color: red;
  border: none;
  background-color: white;
  padding: 23px;
}

.highlightedEXP {
  background-color: #f00202;
  color: white;

}

/* 111111111111111111111111111111111111111111111111111 */
.custom-selectdropEXP11 {
  position: relative;
  top: -37px;
  display: inline-block;
}

.custom-selectdropEXP11 input {
  cursor: pointer;
  height: 74px;
}

.dropdown-contentEXP1 {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -318px;
  margin-right: 38px;
  border: 2px solid #ddd;
  margin-top: 34px;
}

.dropdown-contentEXP1 li {
  list-style-type: none;
  padding: 10px;
  margin-top: -3px;
  font-size: 16px;

}

.dropdown-contentEXP1 li:hover {
  background-color: #216c98;
  color: white;

}

#sh-dropdown {
  display: none;
  z-index: 1;
  position: relative;
}

#sh-toggle {
  color: #216c98;
  position: absolute;
  right: 51px;
  top: 73px;
  transform: translateY(-50%);
  cursor: pointer;
}

#sh-labelEXP {
  position: relative;
  top: 59px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);
}

/* 2222222222222222222222222222222222 */

.custom-dropdownEXP12 {
  position: relative;
  display: inline-block;
  margin-left: -38px;
}

.custom-dropdownEXP12 input {
  height: 74px;
  cursor: pointer;

}

.dropdown-contentEXP12 {

  list-style: none;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -4px;
  margin-right: 133px;
  border: 2px solid #ddd;
  background-color: #fff;
}

.dropdown-contentEXP12 li {
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
}

.dropdown-contentEXP12 li:hover {
  background-color: #216c98;
  color: white;

}

.show {
  display: block;
}

#ra-list {
  display: none;
  z-index: 1;
  position: relative;
}

#ra-toggle {
  color: #216c98;
  position: absolute;
  right: 160px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#ra-labelEXP {
  position: relative;
  left: 23px;
  top: -16px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);
}

/* 333333333333333333333333333333333333333333333333333333333333333333333333 */


#dropdown-contentEXP13 {

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -1px;
  margin-right: -3px;
  border: 2px solid #ddd;
  overflow-y: scroll;
  height: 65px;
}

.custom-dropdownEXP13 li {
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
  background-color: white;

}

.custom-dropdownEXP13 li:hover {
  background-color: #216c98;
  color: white;

}

.show {
  display: block;
}

.va-list {
  right: 140px;
  height: 122px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 250px;
  display: none;
  z-index: 1;
  position: relative;

}

#va-toggle {
  color: #216c98;
  position: absolute;
  right: 597px;
  top: 37px;
  transform: translateY(-50%);
  cursor: pointer;
}











/* ADD GROUP BUTTON */
#addGroup {

  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  font-weight: bold;
  border-radius: 20px;
  border-color: #216c98;
  background: white;
  margin: 10px;
  margin-left: 292px;
  color: #216c98;
}

.button-container {
  text-align: center;
}

.delete-group {
  width: 56px;
  font-size: 22px;
  left: -270px;
  color: red;
  border: none;
  background-color: white;
  padding: 23px;
  position: relative;
}

.highlightedGRP {
  background-color: #f00202;
  color: white;
}


.delete-expression {

  left: -312px;
  position: relative;
  width: 56px;
  font-size: 22px;
  color: red;
  border: none;
  background-color: white;

}

.highlightedEXP2 {
  background-color: #f00202;
  color: white;
}

.expressiongroup3333 {
  display: flex;

  top: 4px;

  position: relative;

  left: 46px;

  height: 73px;

  border-left: 3px solid #216c98;

  border-right: 3px solid #216c98;


}

.expressiongroup3333 input[type="text"] {
  outline-color: rgb(33, 108, 152);
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
}

.ba-input {
  margin-left: -637px;
  left: 319px;
  /* left: -227px; */
  display: inline-block;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  top: 37px;
  margin-right: 54px;
  width: 280px;

  height: 74px;
}

.ba-input::placeholder {

  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}



.sa-input {

  width: 348px;
  padding: 8px;
  position: relative;
  outline-color: #045679;

}

.sa-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

.ja-input {
  height: 74px;
  width: 244px;
  left: -152px;
  font-size: 14px;

  padding: 8px;

  position: relative;

  outline-color: #045679;
}

.ja-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

.ro-input {

  width: 348px;
  border-left: 5px solid #216c98;
  font-size: 14px;
  left: -227px;
  padding: 8px;

  position: relative;

  outline-color: #045679;

}

.ro-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

/* ************************1111111111111111************************************************ */
.custom-selectdropGRP111 {
  position: relative;
  top: -37px;
  display: inline-block;
}

.custom-selectdropGRP111 input {
  cursor: pointer;
  height: 74px;
}

.dropdown-contentGRP111 {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -318px;
  margin-right: 38px;
  border: 2px solid #ddd;
  margin-top: 34px;
}

.dropdown-contentGRP111 li {
  list-style-type: none;
  padding: 10px;
  margin-top: -3px;
  font-size: 16px;

}

.dropdown-contentGRP111 li:hover {
  background-color: #216c98;
  color: white;

}

#ba-dropdown {
  display: none;

  z-index: 1;
  position: relative;
}

#ba-toggle {
  color: #216c98;
  position: absolute;
  right: 59px;
  top: 73px;
  transform: translateY(-50%);
  cursor: pointer;
}


#sa-toggle {
  color: #216c98;
  position: absolute;
  right: 179px;
  top: 36px;
  transform: translateY(-50%);
  cursor: pointer;
}

#ba-labelEXP {


  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);

}

/* ******************************222222222222222222222222222222222222******************************************** */
.custom-selectdropGRP112 {
  position: relative;
  display: inline-block;
  margin-left: -38px;
}

.custom-selectdropGRP112 input {
  height: 74px;
  cursor: pointer;

}

.dropdown-contentGRP112 {

  left: 36px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -35px;
  margin-right: 183px;
  top: -16px;
}

.dropdown-contentGRP112 li {
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
}

.dropdown-contentGRP112 li:hover {
  background-color: #216c98;
  color: white;

}

.show {
  display: block;

}

#sa-dropdown {
  display: none;
  z-index: 1;
  position: relative;
}

#sa-labelEXP {

  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);
}


/* ============================ */
#ba-labelGRP {
  position: relative;
  top: 59px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);
}

#sa-labelGRP {
  position: relative;
  left: 10px;
  top: -16px;
  color: rgb(33, 108, 152);
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);
}


#ja-labelGRP {
  position: relative;
  left: -135px;
  top: -23px;
  color: rgb(33, 108, 152);
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);
}

.expressiongroup3333 .custom-selectdropEXPTWO11,
.expressiongroup3333 .custom-selectdropEXPTWO12,
.expressiongroup3333 .custom-selectdropEXPTWO13 {
  position: relative;
  z-index: 1;
}



#ro-labelGRP {
  position: relative;
  left: -558px;
  top: 88px;
  color: rgb(33, 108, 152);
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);
}



/* *************************3333333333333333333333333333333333333333333 */
.custom-selectdropGRP113 {
  position: relative;
  display: inline-block;
}




.dropdown-contentGRP113 {

  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -154px;
  margin-right: 226px;
  top: -19px;
  border: 2px solid #ddd;
  overflow-y: scroll;

}

.custom-selectdropGRP113 li {
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
  background-color: white;

}

.custom-selectdropGRP113 li:hover {
  background-color: #216c98;
  color: white;

}

#ja-dropdown {
  display: none;
  z-index: 1;
  position: relative;
  height: 137px;
}

#ja-toggle {
  color: #216c98;
  position: absolute;
  right: 244px;
  top: 37px;
  transform: translateY(-50%);
  cursor: pointer;
}


#ja-labelEXP {
  color: #216c98;

  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);
}

/* ************************ADD EXPRESSION in ADD GROUP BUTTON  */
.add-expression {
  vertical-align: middle;
  padding: 8px;
  font-weight: bold;
  border-radius: 20px;
  border-color: #216c98;
  background: white;
  margin: 12px;

  margin-left: 268px;
  color: #216c98;
}




.expression {

  display: flex;

  top: 4px;

  position: relative;

  left: 46px;

  height: 73px;

  border-left: 3px solid #216c98;

  border-right: 3px solid #216c98;

}

#pr-input {
  margin-left: -685px;
  left: 319px;
  display: inline-block;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  top: 37px;
  margin-right: 54px;
  width: 280px;
  height: 74px;
  top: 36px;
}

#pr-input::placeholder {

  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

#qr-input {


  width: 348px;
  border-left: 5px solid #216c98;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  top: 36px;
  left: -86px;

}


#qr-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

#opr-input {
  left: -222px;
  height: 74px;
  width: 244px;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;
  border-left: 5px solid #216c98;
}

#opr-input::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

#nasik {
  left: -286px;
  width: 348px;
  border-left: 5px solid #216c98;
  font-size: 14px;
  padding: 8px;
  position: relative;
  outline-color: #045679;

}

#nasik::placeholder {
  font-style: italic;
  padding: 10px;
  font-size: 16px;
  color: #ccc;
}

/* 111111111111111111111111111111111111111111111111111 */
.custom-selectdropEXPTWO11 {
  position: relative;
  top: -37px;
  display: inline-block;
}

.custom-selectdropEXPTWO11 input {
  cursor: pointer;
  height: 74px;
}

.dropdown-contentEXPTWO11 {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -368px;
  margin-right: 84px;
  border: 2px solid #ddd;
  margin-top: 34px;
}

.dropdown-contentEXPTWO11 li {
  list-style-type: none;
  padding: 10px;
  margin-top: -3px;
  font-size: 16px;

}

.dropdown-contentEXPTWO11 li:hover {
  background-color: #216c98;
  color: white;

}

#pr-dropdown {
  display: none;
  z-index: 1;
  position: relative;
}

#pr-toggle {
  color: #216c98;
  position: absolute;
  right: 103px;
  top: 73px;
  transform: translateY(-50%);
  cursor: pointer;
}

#pr-labelGRP {

  position: relative;
  top: 64px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);

}

/* 999999999999999999999999999999999999999999999999999 */


/* ****************************22222222222222222222222222222******************************************** */
.custom-selectdropEXPTWO12 {
  position: relative;
  top: -37px;
  display: inline-block;
}

.custom-selectdropEXPTWO12 input {
  cursor: pointer;
  height: 74px;
}

.dropdown-contentEXPTWO12 {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -84px;
  top: 17px;
  margin-right: 212px;
  border: 2px solid #ddd;


}

.dropdown-contentEXPTWO12 li {
  list-style-type: none;
  padding: 10px;
  margin-top: -3px;
  font-size: 16px;

}

.dropdown-contentEXPTWO12 li:hover {
  background-color: #216c98;
  color: white;

}

#qr-dropdown {
  display: none;
  z-index: 1;
  position: relative;
}

#qr-toggle {
  color: #216c98;
  position: absolute;
  right: 250px;
  top: 73px;
  transform: translateY(-50%);
  cursor: pointer;
}

#qr-labelGRP {
  position: relative;
  top: 20px;
  left: -74px;
  color: #216c98;
  font-weight: bold;
  font-size: 13px;
  transform: translateY(-50%);
  display: inline-block;

}

/* ************************************************************************************************ */




/* 3333333333333333333333333333333333333333333333333333333333333333333333 */

.dropdown-contentEXPTWO13 {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: -220px;
  margin-right: 282px;
  top: -18px;
  border: 2px solid #ddd;
  overflow-y: scroll;
  height: 168px;
}

.custom-selectdropEXPTWO13 li {
  list-style-type: none;
  padding: 10px;
  font-size: 16px;
  background-color: white;

}

.custom-selectdropEXPTWO13 li:hover {
  background-color: #216c98;
  color: white;

}

.show {
  display: block;
}

#opr-dropdown {
  display: none;
  z-index: 1;
  position: relative;
  height: 135;
}

#opr-toggle {
  color: #216c98;
  position: absolute;
  right: 301px;
  top: 37px;
  transform: translateY(-50%);
  cursor: pointer;
}



#opr-labelGRP {
  color: #216c98;
  position: relative;
  top: -18px;
  left: -199px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);
}

#nasik-labelGRP {
  color: #216c98;
  position: relative;
  top: 84px;
  left: -594px;
  font-weight: bold;
  font-size: 13px;
  display: inline-block;
  transform: translateY(-50%);
}

.expressiongroup3333 .custom-selectdropEXPTWO11,
.expressiongroup3333 .custom-selectdropEXPTWO12,
.expressiongroup3333 .custom-selectdropEXPTWO13 {
  position: relative;
  z-index: 1;
}

#addgroupexpression {
  vertical-align: middle;
  padding: 8px;
  font-weight: bold;
  border-radius: 20px;
  border-color: #216c98;
  background: white;
  margin: 12px;

  margin-left: 268px;
  color: #216c98;

}