body{
    padding: 0%;
    margin: 0%;
    background: #D8E0E6;
    align-items: center;
    justify-content: center;
}

.flex-container{
    width: 100%;
    height: 141vh;
    padding-top: 5%;
    padding-left: 40px;
    position: static;
}

h2{
    padding-left: 200px;
    padding-bottom: 2%;
}
.container{
    margin-left: 2%;
    padding-left: 16%;
}
input{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    border-spacing: 1px;
}

#accept{
height: 13px;
width: 20px;
}

.password{
    display: inline-block;
    position: relative;
    border: 1px solid #000;
}

.password input{
    padding: 10px 5px;
    outline: none;
    border: 0;
}

.pass-icon{
    position: absolute;
    top: 72%;
    right: 653px;
    width: 24px;
    cursor: pointer;
}

#register{
    width: 45%;
}

section{
    padding-left: 17%;
    padding-right: 34%;
    margin-right: 4%;
}

.opt{
padding-left: 200px;
}

#login{
    margin-left: 42%;
}




